<input type="text" [(ngModel)]="searchText" class="form-control" placeholder="O que você está procurando?" />
<br />

<table class="table table-hover">
  <thead>
    <tr>
      <th>C&oacute;digo</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fornecedorTabela of fornecedores">
      <a [routerLink]="[fornecedorTabela.codigo]">
        <td>{{fornecedorTabela.codigo}}</td>
      </a>
      <td>{{fornecedorTabela.nome}}</td>
    </tr>
  </tbody>
</table>

<!--
<span [hidden]="(clientes | filter: searchText).length != 0">
  Nada foi encontrado. 
</span>
-->